useDynLib("waveTiling")

## Importing
importClassesFrom(methods, ANY, character, data.frame, "function", integer, matrix,                     numeric)

## Classes from oligoClasses
## importClassesFrom(oligoClasses, TilingFeatureSet, FeatureSet)

## Classes from Biobase
## importClassesFrom(Biobase, AnnotatedDataFrame, AssayData, eSet, MIAME,                  NChannelSet, Versions, VersionedBiobase, Versioned)

importMethodsFrom(methods, initialize, show)
importFrom(methods, "@<-", callNextMethod, new, validObject)

importFrom(preprocessCore, normalize.quantiles)
importFrom(affy, bg.adjust)

## Classes from GenomeGraphs
## importClassesFrom(GenomeGraphs, DisplayPars, GenericArray, MappedRead, BaseTrack,                       Legend, Title, Gene, Transcript, GenomeAxis, ExonArray,  gdObject,                    Overlay, RectangleOverlay, TextOverlay, AnnotationTrack,                              Segmentation, TrackOverlay)

## Methods from Biobase
## importMethodsFrom(Biobase, annotatedDataFrameFrom, annotation,                  "annotation<-", assayData, "assayData<-", combine,                  experimentData, "experimentData<-", exprs,                  "exprs<-", featureData, "featureData<-",                  featureNames, fvarLabels, geneNames, pData,                  "pData<-", phenoData, "phenoData<-", sampleNames,                  se.exprs, "se.exprs<-", storageMode,                  "storageMode<-")


## Methods from Biostrings
## importMethodsFrom(Biostrings, complement)

## Methods from IRanges
## importMethodsFrom(IRanges, subseq)

## Methods from waveslim
## importFrom(waveslim, wave.filter)

## Methods from oligo
## importMethodsFrom(oligo, ...)

## Plot
importFrom(graphics, plot)

## Exporting

## Classes
exportClasses(WaveTilingFeatureSet, MapFilterProbe, GenomeInfo, WfmFit, WfmInf, WfmFitTime, WfmFitFactor, WfmFitCircadian, WfmFitCustom, WfmInfCompare, WfmInfEffects )

## exportMethods(show)
exportMethods(show)

## exportMethods(plot)
exportMethods(plot)

## waveTilingFeatureSet methods
exportMethods(addPheno, getNoGroups, getGroupNames, getReplics, filterOverlap,                      selectProbesFromTilingFeatureSet,bgCorrQn,wfm.fit)

## MapFilterProbe methods
exportMethods(getFilteredIndices, getPosition,                    selectProbesFromFilterOverlap)

## WfmFit methods
exportMethods(getProbePosition, getNoProbes, getBetaWav, getVarBetaWav, getSmoothPar,               getVarEps, getGenomeInfo, getChromosome, getStrand, getMinPos,                        getMaxPos, getNoLevels, getDesignMatrix, getPhenoInfo,                        getDataOrigSpace, getDataWaveletSpace, getWaveletFilter, getKj,getPrior, getAlpha, getDelta, getTwoSided, getSigProbes,getRegions, getGenomicRegions, getFDR, getF, getVarF, getEff,getVarEff, wfm.inference, getSigGenes, getNonAnnotatedRegions)

## Other
export(cel2TilingFeatureSet, makeContrasts, makeDesign, plotWfm)

